mixin rate-button(label)
    div.rate-button
        fieldset.rate-button__fieldset
            -for(var x=5; x>=1; x--)
                input(type="radio" id=label+"_value_"+x name=label value=x)
                label(for=label+"_value_"+x title=x)
            
            