include ../new-link/new-link.pug

mixin dropdown(leftlabel, rightlabel, text, item1, item2, item3)
    div.dropdown 
        div.dropdown__label-wrapper
            div.dropdown-label.font_h3= leftlabel
            div.dropdown-label.dropdown-label2= rightlabel
        div.dropdown__dropdown-menu
            div.dropdown-menu
                div.dropdown-menu__wrapper
                    div.dropdown-menu__item= text
                    
                div.dropdown_submenu.font_h3
                    div.dropdown__item
                        div.item__wrapper
                            div.guest-content= item1
                            div.buttons-wrapper
                                button.round_button_minus
                                div.guest-content 0
                                button.round_button_plus
                    div.dropdown__item 
                        div.item__wrapper
                            div.guest-content= item2
                            div.buttons-wrapper
                                button.round_button_minus
                                div.guest-content 0
                                button.round_button_plus
                    div.dropdown__item
                        div.item__wrapper
                            div.guest-content= item3
                            div.buttons-wrapper
                                button.round_button_minus
                                div.guest-content 0
                                button.round_button_plus
                    div.clear-apply-buttons 
                        div 
                            +new-link('#', 'dropdown-menu-item font_h3 dropdown_button_clear', 'Очистить')
                        div 
                            +new-link('#', 'dropdown-menu-item font_h3 dropdown_button_apply', 'Применить')